header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: all 1s;
  transition: all 1s;
}

header .header-top {
  height: 40px;
  background-color: rgba(0, 0, 0, 0.411);
  border-bottom: 1px solid rgba(255, 255, 255, 0.336);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header-top-container {
  width: 90%;
  color: rgba(255, 255, 255, 0.555);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-top-container .lang {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-top-container .lang span {
  margin: 0 10px 0;
  font-size: 15px;
}

header .header-top-container .lang .active {
  color: white;
}

header .header-top-container .lang .phone-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin: 0 0 0 100px;
  font-size: 20px;
}

header .header-top-container .lang .phone-top img {
  width: 30px;
}

header .header-top-container .login a {
  color: rgba(255, 255, 255, 0.555);
  text-decoration: none;
}

header .header-top-container .login :hover {
  color: white;
}

header .header-container {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .header-container .logo-wrapper {
  width: 220px;
  height: 60px;
}

header .header-container .logo-wrapper img {
  height: inherit;
  width: inherit;
}

header .header-container nav .nav-wrapper {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-container nav .nav-wrapper .nav-link {
  height: inherit;
  list-style: none;
  width: 145px;
  position: relative;
}

header .header-container nav .nav-wrapper .nav-link-item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-size: 18px;
}

header .header-container nav .nav-wrapper .nav-link-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  height: 0;
  overflow: hidden;
  width: 300px;
  list-style: none;
  background-color: #0f0f0f;
  color: white;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

header .header-container nav .nav-wrapper .nav-link-dropdown li {
  padding: 0 10px;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.555);
}

header .header-container nav .nav-wrapper .nav-link-dropdown li img {
  width: 30px;
  margin: 0 10px 0;
}

header .header-container nav .nav-wrapper .nav-link-dropdown :hover {
  color: white;
  font-size: 16px;
}

header .header-container nav .nav-wrapper .nav-link-dropdown :hover img {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  width: 35px;
}

header .header-container nav .nav-wrapper :hover {
  margin: 2px 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .header-container nav .nav-wrapper :hover .nav-link-dropdown {
  margin: auto;
  height: auto;
}

header .header-container nav .nav-wrapper :hover .nav-link-item {
  color: #0101c4da;
}

header .header-container .search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-container .search-wrapper .search {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  font-size: 14px;
  color: white;
  width: 238px;
  height: 38px;
  outline: none;
}

header .header-container .search-wrapper .search-button {
  width: 35px;
  height: 35px;
  margin: 0 20px;
  background-image: radial-gradient(#2a2add, #181818a4);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header-container .search-wrapper .search-button img {
  width: 20px;
  height: 20px;
}

header .header-container .basket-item a {
  text-decoration: none;
}

header .header-container .basket-item a .basket {
  height: 70px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

header .header-container .basket-item a .basket span {
  font-size: 14px;
}

header .header-container .basket-item a .basket span:hover {
  color: #0b5ed7;
}

header .header-container .basket-item a .basket ::before {
  content: "\f291";
  font-family: "FontAwesome";
  font-size: 22px;
  margin: 0 5px 0 0;
}

.modal-basket {
  display: none;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(53, 53, 53, 0.503);
  position: fixed;
  z-index: 500;
}

.modal-basket .content-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-basket .content-wrapper .content {
  width: 55%;
  height: 95%;
  background-color: #eaeaea;
  overflow: hidden;
}

.modal-basket .content-wrapper .content .mask {
  width: 100%;
  height: 100%;
}

.modal-basket .content-wrapper .content .mask .header-modal {
  margin: 0 20px;
  height: 80px;
  border-bottom: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.modal-basket .content-wrapper .content .mask .header-modal h6 {
  color: #2f2f2f;
  font-size: 25px;
  margin: 0 0 0 10px;
}

.modal-basket .content-wrapper .content .mask .header-modal span {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 30%;
  right: 2%;
  color: #2f2f2f;
}

.modal-basket .content-wrapper .content .mask .header-modal span::after {
  color: inherit;
  content: "\f00d";
  font-family: FontAwesome;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal-basket .content-wrapper .content .mask .header-modal span:hover {
  color: #0b5ed7;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.modal-basket .content-wrapper .content .mask .table-wrapper {
  height: 400px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.modal-basket .content-wrapper .content .mask .table-wrapper tbody {
  color: #2f2f2f;
  display: block;
  overflow: auto;
}

.modal-basket .content-wrapper .content .mask .table-wrapper thead,
.modal-basket .content-wrapper .content .mask .table-wrapper tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  color: #2f2f2f;
}

.modal-basket .content-wrapper .content .mask .table-wrapper thead {
  font-size: 24px;
}

.modal-basket .content-wrapper .content .mask .table-wrapper table {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

.modal-basket .content-wrapper .content .mask .table-wrapper table thead,
.modal-basket .content-wrapper .content .mask .table-wrapper table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.modal-basket .content-wrapper .content .mask .table-wrapper table tbody {
  width: 100%;
  display: block;
  height: 400px;
  overflow: auto;
}

.modal-basket .content-wrapper .content .mask .table-wrapper table tbody .item-products {
  height: 130px;
}

.modal-basket .content-wrapper .content .mask .table-wrapper table tbody .item-products td .remove-wrap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-basket .content-wrapper .content .mask .table-wrapper table tbody .item-products td .remove-wrap .remove {
  color: #2f2f2f;
}

.modal-basket .content-wrapper .content .mask .table-wrapper table tbody .item-products td .remove-wrap .remove::after {
  color: inherit;
  content: "\f00d";
  font-family: FontAwesome;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal-basket .content-wrapper .content .mask .table-wrapper table tbody .item-products td .remove-wrap .remove:hover {
  color: #0b5ed7;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.modal-basket .content-wrapper .content .mask .table-wrapper table tbody .item-products td .product-wrap .image {
  width: 40%;
  height: 40%;
}

.modal-basket .content-wrapper .content .mask .table-wrapper table tbody .item-products td .product-wrap .image img {
  width: 100%;
  height: 100%;
}

.modal-basket .content-wrapper .content .mask .table-wrapper table tbody .item-products td .product-wrap .text {
  margin: 10px 0 0 0;
  text-align: right;
  font-size: 20px;
}

.modal-basket .content-wrapper .content .mask .table-wrapper table tbody .item-products td .counter-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-basket .content-wrapper .content .mask .table-wrapper table tbody .item-products td .counter-wrapper .counter {
  width: 75px;
  height: 40px;
  background-color: rgba(253, 253, 253, 0.896);
  border: 1px solid #dddddd;
  border-radius: 5px;
  position: relative;
}

.modal-basket .content-wrapper .content .mask .table-wrapper table tbody .item-products td .counter-wrapper .counter .arrow-wrap {
  height: 100%;
  width: 35%;
}

.modal-basket .content-wrapper .content .mask .table-wrapper table tbody .item-products td .counter-wrapper .counter .arrow-wrap .arrow-up {
  height: 50%;
  display: block;
  position: relative;
  color: black;
}

.modal-basket .content-wrapper .content .mask .table-wrapper table tbody .item-products td .counter-wrapper .counter .arrow-wrap .arrow-up::after {
  position: absolute;
  top: 5%;
  color: inherit;
  content: "\f077";
  font-family: FontAwesome;
  font-size: 12px;
}

.modal-basket .content-wrapper .content .mask .table-wrapper table tbody .item-products td .counter-wrapper .counter .arrow-wrap .arrow-up:hover {
  color: #0b5ed7;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.modal-basket .content-wrapper .content .mask .table-wrapper table tbody .item-products td .counter-wrapper .counter .arrow-wrap .arrow-down {
  height: 50%;
  position: relative;
  display: block;
  color: black;
}

.modal-basket .content-wrapper .content .mask .table-wrapper table tbody .item-products td .counter-wrapper .counter .arrow-wrap .arrow-down::after {
  position: absolute;
  top: 0;
  color: inherit;
  content: "\f078";
  font-family: FontAwesome;
  font-size: 12px;
}

.modal-basket .content-wrapper .content .mask .table-wrapper table tbody .item-products td .counter-wrapper .counter .arrow-wrap .arrow-down:hover {
  color: #0b5ed7;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.modal-basket .content-wrapper .content .mask .table-wrapper table tbody .item-products td .counter-wrapper .counter .count {
  color: black;
  width: 30%;
  position: absolute;
  top: 26%;
  font-size: 22px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.modal-basket .content-wrapper .content .mask .total {
  padding: 20px 80px 0 0;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #2f2f2f;
}

.modal-basket .content-wrapper .content .mask .total span {
  color: #0b5ed7;
}

.modal-basket .content-wrapper .content .mask .button-wrapper {
  margin: 30px auto;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-basket .content-wrapper .content .mask .button-wrapper button {
  font-size: 20px;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.header-else {
  background-color: rgba(28, 28, 29, 0.966);
}
/*# sourceMappingURL=header.component.css.map */