header {
    position: fixed;
    width: 100%;
    z-index: 5;
    transition: all 1s;
    .header-top {
        height: 40px;
        background-color: rgba(0, 0, 0, 0.411);
        border-bottom: 1px solid rgba(255, 255, 255, 0.336);
        display: flex;
        align-items: center;
        justify-content: center;
        &-container {
            width: 90%;
            color: rgba(255, 255, 255, 0.555);
            display: flex;
            align-items: center;
            justify-content: space-between;
            .lang {
                font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
                display: flex;
                align-items: center;
                span {
                    margin: 0 10px 0;
                    font-size: 15px;
                }
                .active {
                    color: white;
                }
                .phone-top {
                    display: flex;
                    align-items: center;
                    color: white;
                    margin: 0 0 0 100px;
                    font-size: 20px;
                    img {
                        width: 30px;
                    }
                }
            }
            .login {
                a {
                    color: rgba(255, 255, 255, 0.555);
                    text-decoration: none;
                }
                :hover {
                    color: white;
                }
            }
        }
    }

    .header-container {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .logo-wrapper {
            width: 220px;
            height: 60px;
            img {
                height: inherit;
                width: inherit;
            }
        }
        nav {
            .nav-wrapper {
                height: 40px;
                display: flex;
                .nav-link {
                    height: inherit;
                    list-style: none;
                    width: 145px;
                    position: relative;
                    &-item {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        text-decoration: none;
                        align-items: center;
                        justify-content: center;
                        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
                        color: white;
                        font-size: 18px;
                    }

                    &-dropdown {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        height: 0;
                        overflow: hidden;
                        width: 300px;
                        list-style: none;
                        background-color: rgb(15, 15, 15);
                        color: white;
                        border-bottom-left-radius: 10px;
                        border-top-right-radius: 10px;
                        transition: all 0.2s;
                        li {
                            padding: 0 10px;
                            margin: 20px 0;
                            display: flex;
                            align-items: center;
                            color: rgba(255, 255, 255, 0.555);
                            img {
                                width: 30px;
                                margin: 0 10px 0;
                            }
                        }
                        :hover {
                            img {
                                transition: all 0.7s;
                                width: 35px;
                            }
                            color: white;
                            font-size: 16px;
                        }
                    }
                }
                :hover {
                    .nav-link-dropdown {
                        margin: auto;
                        height: auto;
                    }
                    .nav-link-item {
                        color: #0101c4da;
                    }
                    margin: 2px 0;
                    transition: all 0.5s;
                }
            }
        }
        .search-wrapper {
            display: flex;
            align-items: center;
            .search {
                background-color: transparent;
                border: none;
                border-bottom: 1px solid white;
                font-size: 14px;
                color: white;
                width: 238px;
                height: 38px;
                outline: none;
            }
            .search-button {
                width: 35px;
                height: 35px;
                margin: 0 20px;
                background-image: radial-gradient(#2a2add, #181818a4);
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
       .basket-item{
        a {
            text-decoration: none;
            .basket {
                height: 70px;
                width: 150px;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                color: white;
                span {
                    font-size: 14px;
                    &:hover {
                        color: #0b5ed7;
                    }
                }
                ::before {
                    content: "\f291";
                    font-family: "FontAwesome";
                    font-size: 22px;
                    margin: 0 5px 0 0;
                }
            }
        }
        .modal-basket {
            display: none;
            width: 300px;
            height: 100px;
            background-color: rgb(14, 14, 14);
            position: absolute;
            right: 30px;
            .content{
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    top: 5px;
                    right: 10px;
                    color: white;
                    &::after {
                        color: inherit;
                        content: attr(data-symbol);
                        font-family: FontAwesome;
                        font-size: 14px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                    }
                    &:hover {
                        color: #0b5ed7;
                        transition: all 0.5s;
                    }
                }
                h3{
                    color: white;
                    font-size: 20px;
                }
            }
        }
       }
    }
}

.header-else {
    background-color: rgba(28, 28, 29, 0.966);
}
