<header class="fixedBox" [ngClass]="headerElse" #fixedBox>
   <div class="header-top">
      <div class="header-top-container">
         <div class="lang">
            <div class="phone-top">
               <img src="assets/images/pngegg.png">
               <span class="phone">+38 (096) 156 18 55</span>
            </div>
         </div>
         <div class="login" *ngIf="!isLogin">
            <a (click)="openLogin(true, $event)">Увійти</a>
         </div>
         <div class="login" *ngIf="adminLogin">
            <a [routerLink]="[ '/admin']">Адмін</a>
         </div>
         <div class="login" *ngIf="userLogin">
            <a [routerLink]="[ '/admin']">Вітаємо, {{userName}} </a>
         </div>
      </div>
   </div>
   <div class="header-container">
      <div class="logo-wrapper">
         <a [routerLink]="['']">
            <img src="assets/images/logo.png">
         </a>
      </div>
      <nav>
         <ul class="nav-wrapper">
            <li class="nav-link mycathead" *ngFor="let category of categoryHead">
               <a class="nav-link-item">{{category.name}}</a>
               <ul class="nav-link-dropdown">
                  <li *ngFor="let item of category.subCategory" [routerLink]="[ '/catalog', item.path ]"> <img
                        src="assets/images/angle-double-right.svg">{{item.name}}</li>
               </ul>
            </li>
            <li class="nav-link " id="avtoSearch">
               <a class="nav-link-item" [routerLink]="['']">Пошук по Авто</a>
            </li>
         </ul>
      </nav>
      <div class="search-wrapper">
         <input class="search" type="search" placeholder="Пошук">
         <div class="search-button">
            <img src="assets/images/search.svg">
         </div>
      </div>
      <div class="basket-item">
         <a (click)="openModal(true,$event)" style="display: flex; align-items: center;">
            <div class="basket"><span></span></div>
            <div class="wrapper" style="width: 20px; height: 20px; display: inline-block;">
               <span *ngIf="countItem"
                  style="color: white; margin-left: 5px; width: 20px; height: 20px; display: flex; align-items: center; justify-content: center; background-color: #0b5ed7; box-shadow: 0 0 5px 0px rgb(197, 197, 197); border-radius: 50px; font-size: 12px;">{{countItem}}</span>
            </div>
         </a>

      </div>
   </div>
</header>

<!-- Modal basket -->
<div class="modal-basket" (click)="openModal(false,$event)">
   <div class="content-wrapper close">
      <div class="content">
         <div class="mask">
            <app-basket></app-basket>
         </div>
      </div>
   </div>
</div>

<!-- Modal-login -->
<div class="modal-login close" (click)="openLogin(false,$event)">
         <div class="login-container">
            <app-login></app-login>
         </div>
</div>