<div class="category-title d-flex">
    <h2>Замовлення</h2>
    <div class="button-wrapper">
        <button type="button" class="btn btn-danger delete"><span></span></button>
    </div>
</div>
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Дата</th>
                <th scope="col">Замовник</th>
                <th scope="col">Статус</th>
                <th scope="col">Загальна вартість</th>
                <th scope="col">Дії</th>
              </tr>
            </thead>
            <tbody class="mt-4">
              <tr *ngFor="let item of order">
                <th scope="row" valign="middle"><input #deleteItem type="checkbox" name='deleteCheckbox'></th>
                <td valign="middle">{{ item.date }}</td>
                <td valign="middle">{{item.firstName}} {{ item.lastName }}</td>
                <td valign="middle">{{item.status}}</td>
                <td valign="middle">{{item.total}}₴</td>
                <td>
                    <button class="mx-2 btn btn-primary edit"  title="Переглянути" [routerLink]="[ '/admin/orders/detail', item._id ]"><span></span></button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>