<div class="category-title d-flex">
    <h2>Продукти</h2>
    <div class="button-wrapper">
        <button type="button" class="btn btn-primary add me-2" [routerLink]="['add']" title="Додати"><span></span></button>
        <button type="button" class="btn btn-danger delete" [disabled]="disabled" (click)="deleteProduct()"><span></span></button>
    </div>
</div>
<div class="input-group flex-nowrap mt-4 mb-4">
    <input type="text" class="form-control" placeholder="Пошук" aria-label="Пошук"
        aria-describedby="addon-wrapping">
</div>
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Зображення</th>
                <th scope="col">Назва продукту</th>
                <th scope="col">Бренд</th>
                <th scope="col">Ціна</th>
                <th scope="col">Дії</th>
              </tr>
            </thead>
            <tbody class="mt-4">
              <tr *ngFor="let item of product | paginate: { itemsPerPage: 7, currentPage: page, totalItems: totalLength}">
                <th scope="row" valign="middle"><input #deleteItem type="checkbox" name='deleteCheckbox' (change)="chooseProduct(deleteItem.checked,item._id)"></th>
                <td valign="middle"><img [src]="item.imagePath" width="50" height="50"></td>
                <td valign="middle">{{ item.name }}</td>
                <td valign="middle">{{ item.brand }}</td>
                <td valign="middle">{{ item.price }}₴</td>
                <td>
                    <button class="mx-2 btn btn-primary edit"  title="Редагувати" [routerLink]="[ 'edit', item._id ]"><span></span></button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
<div class="pagination">
  <pagination-controls class="my-pagination" (pageChange)="page = $event"></pagination-controls>
</div>