@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

h1 {
	font-weight: bold;
	margin: 0;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 10px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	border-color: #00ab66 !important;
    background-color: #00ab66;
    color: white;
	box-shadow: 0 0 10px 0 black;
}

form {
	background-color: #fff;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 10px 25px;
	height: 100%;
	width: 100%;
}

input {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid black;
	padding: 8px 15px;
	outline: none;
	margin: 8px 0;
	width: 100%;
}

.container {
	top: 50px;
	right: 40px;
	background-color: white;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	position: absolute;
	padding: 20px;
	width: 600px;
	height: 300px;
	.form-container {
		position: absolute;
		top: 0;
		height: 100%;
		transition: all 0.6s ease-in-out;
		.form-group {
			width: 100%;
		}
		.form-control {
			width: 100%;
			height: 38px;
			background: transparent;
			color: black;
			font-size: 16px;
			box-shadow: none;
			border-radius: 0;
			border: none;
			padding: 0;
			border-bottom: 2px solid rgba(31, 31, 31, 0.607);
			&::-webkit-input-placeholder {
				/* Chrome/Opera/Safari */
				color: rgba(0, 0, 0, 0.2) !important;
			}
			&::-moz-placeholder {
				/* Firefox 19+ */
				color: rgba(0, 0, 0, 0.2) !important;
			}
			&:-ms-input-placeholder {
				/* IE 10+ */
				color: rgba(0, 0, 0, 0.2) !important;
			}
			&:-moz-placeholder {
				/* Firefox 18- */
				color: rgba(0, 0, 0, 0.2) !important;
			}
			&:focus,
			&:active {
				outline: none !important;
				box-shadow: none;
				border-bottom: 2px solid #2a2add;
				transition: all 0.5s;
			}
		}
	}
	.social-media {
		position: relative;
		width: 100%;
		.social-button {
			width: 100%;
			font-size: 14px;
			height: 30px;
			padding: 0;
			border: none;
			outline: none;
			text-transform: none;
			border-radius: 5px;
		}
		.button-facebook {
			background: #4866a8;
			&:hover {
				background: #3d5785;
				transition: all 0.5s;
			}
		}
		.button-google {
			background: #da3f34;
			&:hover {
				background: #bf3b31;
				transition: all 0.5s;
			}
		}
	}
	.register {
		font-size: 16px;
		font-weight: bold;
		span {
			font-weight: 14px;
			font-weight: bold;
			color: rgb(198, 198, 198);
			&:hover {
				color: rgb(90, 90, 221);
				transition: all 0.5s;
			}
		}
	}
	.label {
		font-size: 14px;
		font-weight: bold;
	}
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%,
	49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%,
	100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container {
	transform: translateX(-100%);
}

.overlay {
	background-color: #2234ae;
	background-image: linear-gradient(315deg, #2234ae 0%, #191714be 74%);
	background-repeat: no-repeat;
	height: 350px;
	background-size: cover;
	background-position: 0 0;
	color: #ffffff;
	position: relative;
	left: -100%;
	// height: 120%;
	width: 200%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 20px 40px;
	text-align: center;
	top: 0;
	height: 100%;
	height: 350px;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #dddddd;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}


.btn:hover {
	color: white;
}
.btn:focus {
	color: white;
}
