<div class="wrapper">
  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form [formGroup]="registerForm">
        <h1>Реєстрація</h1>
        <div class="form-group mt-3">
          <label class="label" for="name">Номер телефону:</label>
          <input type="text" class="form-control" placeholder="Номер телефону" required formControlName="phoneNumber">
        </div>
        <div class="form-group">
          <label class="label" for="password">Email:</label>
          <input id="password-field" type="password" class="form-control" placeholder="Email" required
            formControlName="email">
        </div>
        <div class="form-group">
          <label class="label" for="password">Пароль:</label>
          <input id="password-field" type="password" class="form-control" placeholder="Пароль" required
            formControlName="password">
        </div>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form [formGroup]="loginForm">
        <h1>Увійти</h1>
        <div class="form-group mt-3">
          <label class="label" for="name">Email:</label>
          <input type="text" class="form-control" placeholder="Email" required formControlName="email">
        </div>
        <div class="form-group">
          <label class="label" for="password">Пароль:</label>
          <input id="password-field" type="password" class="form-control" placeholder="Пароль" required
            formControlName="password">
        </div>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <div class="form-group">
            <button type="submit" class="form-control btn ghost rounded submit px-5"
              (click)="registerUser()">Реєстрація</button>
          </div>
          <p class="w-100 text-center" style="color:white;">&mdash; Або увійдіть через &mdash;</p>
          <div class="w-100">
            <p class="social-media">
              <button type="button" class="social-button button-facebook"><span class="fa fa-facebook"></span> Увійти через Facebook </button>
              <button type="button" class="social-button button-google mt-3"><span class="fa fa-google"></span> Увійти через Google </button>
              </p>
          </div>
          <p class="register">Маєте акаунт?<br><span style="cursor: pointer;" (click)="moveRegisterPage(false)">Увійдіть</span></p>
        </div>
        <div class="overlay-panel overlay-right">
          <div class="form-group">
            <button type="submit" class="form-control btn  ghost rounded submit px-5"
              (click)="loginUser()">Увійти</button>
          </div>
          <p class="w-100 text-center" style="color:white;">&mdash; Або увійдіть через &mdash;</p>
          <div class="w-100">
            <p class="social-media">
            <button type="button" class="social-button button-facebook"><span class="fa fa-facebook"></span> Увійти через Facebook </button>
            <a href="http://localhost:7000/api/auth/google">
              <button type="button" class="social-button button-google mt-3" ><span class="fa fa-google"></span> Увійти через Google </button></a>
            </p>
          </div>
          <p class="register">Немає акаунту? <span style="cursor: pointer;" (click)="moveRegisterPage(true)">Зареєструйтесь</span></p>
        </div>
      </div>
    </div>
  </div>
</div>