.bg{
     position: relative;
     top: 23vh;
     width: 100%;
     min-height: 700px;
     display: flex;
     justify-content: flex-end;
}
.bgimg{
     background-size: cover;
     background-repeat: repeat-y, repeat-y;
     background-position: top, bottom;
     background-attachment: fixed, fixed;
     height: 100%;
     width: 100%;
     background-image: url("../../../assets/images/151021-SKODA-Superb-Black-Crystal-4.jpg");
     position: fixed;

}
.catalogBg{
     position: relative;
     top: 20%;
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}
.catalog{
     box-shadow: 0 0 10px 0 rgb(85, 85, 85);
     background-color: rgb(85, 85, 85);
     width: 95%;
     padding-bottom: 5%;
     display: flex;
     flex-flow: row;
}
.myselect{
     background-color: rgb(85, 85, 85);
     color: white;
     border-left: none;
     border-right: none;
     border-top: none;
}
.sort{
     margin-left: 7%;
}
.filter{
     width: 23%;
     box-shadow: 5px 5px 20px 5px rgb(53, 53, 53);

}
.usebtn{
     width: 80%;
}
.catalogProd{
  width: 75%;
     display: flex;
     flex-flow: row wrap;
}
.blockProd{
     width: 23%;
     height: 445px;
     margin-left: 2%;
     margin-top: 2%;
     background-color: rgba(19, 19, 19, 0.855);
     box-shadow: 0 0 10px 0 black;
     display: flex;
     justify-content: center;
     flex-direction: column;

}
.price, .page{
     background-color: none;
     color: white;
     text-align: center;
     text-decoration: none;
}
.pagination{
     position: absolute;
     bottom: 0%;
     left: 48%;
     background-color: none;
     color: white;
     text-align: center;
}
.page{
     margin-left: 20%;
     padding-bottom: 15px;
}

.myrange{
     width: 80%;
}

.myselect{
     width: 80%;
     padding-top: 1%;
     padding-bottom: 1%;
     font-size: 20px;
}

.rangenum{
     font-size: 18px;
}
