<section>
            <div class="admin-header">
                <div class="nav-header">
                   <span>Admin</span>Dashboard
                </div>
                <div class="button-wrapper">
                    <button type="button" class="backToHome" [routerLink]="['']" (click)="scroll()"><span></span>На головну</button>
                    <button type="button" class="logOut" (click)="logOut()"><span><img src="assets/images/sign-out-alt-solid.svg" width="16" height="16"></span>Вийти</button>
                </div>
            </div>
            <div class="content-wrapper">
                <nav class="column-left">
                    <div class="header-nav">
                        <span></span>Навігація
                    </div>
                    <ul class="nav">
                        <li class="nav-item categories" [routerLink]="[ 'category-header' ]" routerLinkActive="active"><span></span>Категорії Шапки</li>
                        <li class="nav-item products" [routerLink]="[ 'admin-products' ]" routerLinkActive="active"><span></span> Продукти</li>
                        <li class="nav-item orders" [routerLink]="[ 'orders' ]" routerLinkActive="active"><span></span> Замовлення</li>
                        <li class="nav-item callback" [routerLink]="[ 'orders' ]" routerLinkActive="active"><span></span> Зворотній дзвінок</li>
                    </ul>
                </nav>
                <div class="content">
                    <router-outlet></router-outlet>
                </div>
            </div>
</section>