<section>
    <div class="container">
        <div class="row">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="[ 'category-header' ]" routerLinkActive="active">Категорії Шапки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="[ 'category-catalog' ]" routerLinkActive="active">Категорії каталогу</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="[ 'products' ]" routerLinkActive="active">Продукти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="[ 'orders' ]" routerLinkActive="active">Замовлення</a>
                </li>
                <li>
                    <button type="button" class="btn btn-success"  [routerLink]="[ '' ]" >На головну</button>
                </li>
                <li>
                    <button type="button" class="btn btn-danger" (click)="logOut()">Вийти</button>
                </li>
            </ul>
            <router-outlet></router-outlet>
        </div>
    </div>
</section>