section{
     width: 100vw;
     height: 100vh;
     background-size: cover;
     background-position: top;
     background-image: url(../../../assets/images/151021-SKODA-Superb-Black-Crystal-4.jpg);
     .mask{
          background-color: rgba(46, 46, 46, 0.558);
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
     }
}

.orderParent{
     position: absolute;
     height: 95%;
     width: 80%;
     left: auto;
     background-color: rgb(85, 85, 85);
     z-index: 505;
}

.orderForm{
     height: 100%;
     background-color: rgb(85, 85, 85);
     box-shadow: 0 0 10px 0 black;
     width: 50%;
}

.myrow{
     display: flex;
     flex-direction: row;
}

.mycolumn{
     padding: 30px;
     display: flex;
     flex-direction: column;
}

// .cntr{
//      display: flex;
//      justify-content: center;
//      align-items: center;
// }

.between{
     justify-content: space-between;
}

.txWhite{
     color: white;
     margin-bottom: 0.5rem;
     font-size: 16px;
}

.basket{
     width: 95%;
     height: 80%;
     background-color: rgb(37, 37, 37);
     box-shadow: 0 0 10px 0 rgb(37, 37, 37);
     overflow: auto;
     margin: auto;
}

.bsCard{
     width: 95%;
     height: 35%;
     box-shadow: 0 0 10px 0 rgb(85, 85, 85);
     background-color: rgb(85, 85, 85);
}

.w100{
     width: 100%;
}

.bsimg{
     height: 100%;
     padding: 1%;
}

.deleteProdBtn{
     width: 1vw;
     height: 1vw;
     outline: none;
     border-radius: 50%; 
     margin-right: 1%;
     padding: 0;
     background-color: rgb(85, 85, 85);
     transition: 0.1s;
}

.deleteProdBtn:active{
     transform: scale(0.9);
}

.inpLbl{
     margin-bottom: 0px !important;
}

.ordinp{
     height: 40px;
     width: 85%;
     font-size: 20px;
     background-color: rgb(85, 85, 85);
     border: none;
     outline: none;
     border-bottom: 2px solid white;
     color: white;
     &:focus{
          transition: all 0.5s;
          border-bottom: 2px solid blue;
     }
}

.doOrder{
     width: 85%;
}

::-webkit-scrollbar {
     width: 0;
     height: 0;
 }
::-webkit-scrollbar-thumb {
     background: #e31031;
 }
::-webkit-scrollbar-track {
     background: #0e0f10;
 }

 ::ng-deep{
     .mat-form-field-infix{
          width: 60%;
          margin: 20px 0 0 0;
          height: 50px;
          font-size: 20px;
          color: white;
          // border-bottom: 2px solid royalblue;
     }
     .mat-select-value{
          color: white;
     }
     .mat-form-field-label{
          color: white !important;
          &::placeholder{
               color: inherit;
          }
     }
     .mat-form-field{
          width: 60%;
     }
 }