<section>
     <div class="mask">
          <div class="orderParent">
               <div class="orderForm">
                    <div class="mx-auto mycolumn cntr">
                         <h2 class="txWhite" style="font-size: 22px;">Оформлення замовлення</h2>
                         <label class="txWhite inpLbl mt-2" for="lname">Прізвище:</label>
                         <input class="ordinp" id="lname" type="text">
                         <label class="txWhite inpLbl mt-2" for="name">Ім'я:</label>
                         <input class="ordinp" id="name" type="text">
                         <label class="txWhite inpLbl mt-2" for="email">Email:</label>
                         <input class="ordinp" id="email" type="text">
                         <label class="txWhite inpLbl mt-2" for="number">Номер телефону:</label>
                         <input class="ordinp" id="number" type="text"/> 
                         <mat-form-field>
                         <mat-select placeholder="Виберіть область" #singleSelect>
                              <mat-option>
                                   <ngx-mat-select-search [(ngModel)]="value"></ngx-mat-select-search>
                              </mat-option>
                              <mat-option *ngFor="let item of obl | filterCity:value" [value]="item.Description"
                                   (click)="loadCity(item)">
                                   {{item.Description}}
                              </mat-option>
                         </mat-select>
                         </mat-form-field>
                         <mat-form-field>
                              <mat-select placeholder="Виберіть місто" #singleSelect>
                                   <mat-option>
                                        <ngx-mat-select-search [(ngModel)]="value"></ngx-mat-select-search>
                                   </mat-option>
                                   <mat-option *ngFor="let item of city | filterCity:value" [value]="item.Description"
                                        (click)="loadItem(item)">
                                        {{item.Description}}
                                   </mat-option>
                              </mat-select>
                         </mat-form-field>
                         <mat-form-field>
                              <mat-select placeholder="Виберіть відділення" #singleSelect>
                                   <mat-option>
                                        <ngx-mat-select-search [(ngModel)]="value"></ngx-mat-select-search>
                                   </mat-option>
                                   <mat-option *ngFor="let item of branch | filterCity:value" [value]="item.Description"
                                        (click)="saveDelivery(item)">
                                        {{item.Description}}
                                   </mat-option>
                              </mat-select>
                         </mat-form-field>
                         <!-- <button class="btn btn-success mt-4 doOrder">Замовити</button> -->
                    </div>
               </div>
          </div>
     </div>
</section>