section {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top;
  background-image: url(../../../assets/images/151021-SKODA-Superb-Black-Crystal-4.jpg);
}

section .mask {
  background-color: rgba(46, 46, 46, 0.558);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .delivery-item {
  color: #2f2f2f;
}

section .delivery-item label {
  font-size: 22px;
  color: inherit;
}

section .delivery-item input[type="radio"] {
  display: none;
}

section .delivery-item .custom-radio:checked + label {
  color: #0b5ed7;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

section .delivery-container {
  display: none;
  margin: 0 0 20px 0;
}

section .region-wrapper {
  display: none;
}

section .city-wrapper {
  display: none;
}

section .branch-wrapper {
  display: none;
}

section #chsDel {
  width: 60%;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  border-bottom: 2px solid white;
  font-size: 18px;
}

section #chsDel option {
  background-color: rgba(106, 99, 99, 0.786);
}

.orderParent {
  position: absolute;
  height: 95%;
  width: 80%;
  left: auto;
  background-color: #eaeaea;
  z-index: 505;
}

.orderForm {
  height: 100%;
  background-color: #eaeaea;
  -webkit-box-shadow: 0 0 10px 0 black;
          box-shadow: 0 0 10px 0 black;
  width: 50%;
}

.myrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mycolumn {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.txWhite {
  color: #2f2f2f;
  margin-bottom: 0.5rem;
  font-size: 16px;
}

.basket {
  width: 95%;
  height: 80%;
  background-color: #252525;
  -webkit-box-shadow: 0 0 10px 0 #252525;
          box-shadow: 0 0 10px 0 #252525;
  overflow: auto;
  margin: auto;
}

.bsCard {
  width: 95%;
  height: 35%;
  -webkit-box-shadow: 0 0 10px 0 #555555;
          box-shadow: 0 0 10px 0 #555555;
  background-color: #555555;
}

.w100 {
  width: 100%;
}

.bsimg {
  height: 100%;
  padding: 1%;
}

.deleteProdBtn {
  width: 1vw;
  height: 1vw;
  outline: none;
  border-radius: 50%;
  margin-right: 1%;
  padding: 0;
  background-color: #555555;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.deleteProdBtn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.inpLbl {
  margin-bottom: 0px !important;
}

.ordinp {
  height: 40px;
  width: 85%;
  font-size: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #2f2f2f;
  color: white;
}

.ordinp:focus {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom: 2px solid #0b5ed7;
}

.doOrder {
  width: 85%;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: #e31031;
}

::-webkit-scrollbar-track {
  background: #0e0f10;
}

::ng-deep .mat-form-field-infix {
  margin: 20px 0 0 0;
  width: 60%;
  height: 50px;
  font-size: 18px;
  color: white;
}

::ng-deep .mat-select-value {
  color: black;
}

::ng-deep .mat-form-field-label {
  color: black !important;
}

::ng-deep .mat-form-field-label::-webkit-input-placeholder {
  color: inherit;
}

::ng-deep .mat-form-field-label:-ms-input-placeholder {
  color: inherit;
}

::ng-deep .mat-form-field-label::-ms-input-placeholder {
  color: inherit;
}

::ng-deep .mat-form-field-label::placeholder {
  color: inherit;
}

::ng-deep .mat-form-field {
  width: 60%;
}
/*# sourceMappingURL=orders.component.css.map */