.car-image-contaiter {
    background-image: url("../../../assets/images/151021-SKODA-Superb-Black-Crystal-4.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: repeat-y, repeat-y;
    background-position: top, bottom;
    background-attachment: fixed, fixed;
    display: flex;
    justify-content: flex-end;
}
.image-title-wrapper {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    border-left: 300px solid transparent;
    border-bottom: 700px solid rgba(44, 44, 44, 0.452);
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .image-title {
        position: absolute;
        top: 200px;
        span {
            font-size: 80px;
            margin: 100px 0 0 0;
            display: block;
            color: white;
            text-align: center;
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
            font-weight: bold;
        }
    }
}
.container {
    width: 95%;
    h1 {
        color: white;
        font-size: 28px;
    }
    hr {
        background-color: white;
        height: 2px;
    }
    .carousel {
        width: 100%;
        .product {
            margin: 0 0 0 20px;
            width: 270px;
            height: 400px;
            background-color: rgba(19, 19, 19, 0.855);
            box-shadow: 0 0 10px 0 black;
            display: flex;
            justify-content: center;
            flex-direction: column;
            img {
                height: 60%;
                width: 100%;
            }
            a {
                font-size: 18px;
                color: white;
                text-decoration: none;
                &:hover {
                    color: #0b5ed7;
                }
                transition: all 0.5s;
            }
            p {
                text-align: center;
                color: white;
            }
        }
    }
    form {
        height: 560px;
        background-image: url("https://cdn.skoda-storyboard.com/2017/03/Oc_0029.jpg");
        background-size: cover;
        background-position: center;
        box-shadow: 0 0 10px 0 black;
        display: flex;
       .mask{
           width: 100%;
           height: 100%;
           background-color: rgba(0, 0, 0, 0.634);
           display: flex;
           align-items: flex-end;
           flex-direction: column;
           h5 {
               margin: 20px 0 0 0;
               width: 100%;
               text-align: center;
            font-size: 30px;
            color: white;
            text-align: center;
        }
        .form-wrapper {
            width: 50%;
            color: white;
            padding: 0 30px;
            p {
                font-size: 18px;
            }
      
            textarea , input {
                color: white;
                width: 80%;
                background-color: rgba(87, 87, 87, 0.558);
                resize: none;
            }
            
        }
       }
    }
}
.brand{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .brand-item{
        margin: 0 3px 3px 0px ;
        background-color: rgba(27, 27, 27, 0.758);
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% / 5.1);
        height: 150px;
        img{
            width: 90%;
            height: 90%;
        }
    }
}

.map{
    height: 500px;
}

::ng-deep {
    .carousel {
        .slick-arrow{
            background-color: transparent;
            &:hover{
                color: black;
            }
        }
    }
}
