<app-header></app-header>
 <section>
    <div class="car-image-contaiter" id="image">
      <div class="image-title-wrapper" id="qq">
        <div class="image-title">
          <span class="animate1">ЗАПЧАСТИНИ</span>
          <span class="animate2">ДО АВТОМОБІЛІВ</span>
          <span class="animate3">SKODA</span>
        </div>
      </div>
    </div>
</section>
<section class="recommended"> 
  <h1>Рекомендовані</h1>
  <hr>
  <div class="product-container">
    <div class="product-item">
      <div class="image-product">
        <img src="https://images.izi.ua/30898685">
        <div class="detail">
          <span>Детальніше</span>
        </div>
      </div>
      <span class="title">I'm product</span>
      <span class="price">120 грн</span>
    </div>
    <div class="product-item">
      <div class="image-product">
        <img src="https://images.izi.ua/30898685">
        <div class="detail">
          <span>Детальніше</span>
        </div>
      </div>
      <span class="title">I'm product</span>
      <span class="price">120 грн</span>
    </div>
    <div class="product-item">
      <div class="image-product">
        <img src="https://images.izi.ua/30898685">
        <div class="detail">
          <span>Детальніше</span>
        </div>
      </div>
      <span class="title">I'm product</span>
      <span class="price">120 грн</span>
    </div>
    <div class="product-item">
      <div class="image-product">
        <img src="https://images.izi.ua/30898685">
        <div class="detail">
          <span>Детальніше</span>
        </div>
      </div>
      <span class="title">I'm product</span>
      <span class="price">120 грн</span>
    </div>
  </div>

</section>
<section class="cars-content">
  <div class="cars-content-title">
    <h1>ШУКАЄТЕ ЗАПЧАСТИНИ ?</h1>
    <p>Лише заповніть форму, і наші менеджери зможуть підібрати Вам запчастини </p>
  </div>
  <div class="form-wrapper">
    <img src="https://mb.cision.com/Public/470/3146664/8f3fb06b978f76eb_800x800ar.jpg">
    <form class="cars-form">
      <label for="name">Ім'я</label>
      <input type="text" name="name" placeholder="Ім'я">
      <label for="vin">Номер Кузова</label>
      <input type="text" name="vin" placeholder="Номер Кузова">
      <div class="phoneNumber-emailWrapper">
        <div class="phoneNumber">
          <label for="phoneNumber">Номер Телефона</label>
          <input type="text" name="phoneNumber" placeholder="Номер Телефона">
        </div>
        <div class="email">
          <label for="email">Email</label>
          <input type="email" name="email" placeholder="Email">
        </div>
      </div>
      <label for="info">Введіть назву деталей, які шукаєте</label>
      <textarea name="info" placeholder="Наприклад: Фільтр масла,фільтр повітря,гальмівні колодки"></textarea>
      <button type="submit">Надіслати</button>
    </form>
  </div>
</section>